@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

* {
  color: #00ff00;
  font-family: 'PT Mono', monospace;
}

body {
  background-color: black;
  height: 100vh;
  position: relative;
}

/* #app {

} */

#text-display {
  margin: 3em 3em 0 3em;
}

#text-input {
  border: #00ff00 solid 1px;
  background-color: black;
  height: 2em;
  margin: 3em;
  width: 70em;
}

button {
  border: #00ff00 solid 1px;
  background-color: black;
}

#nav-bar {
  border: #00ff00 solid 2px;
  background-color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  height: 10rem;
  width: 99%;
  bottom: 2em;

}

#nav-login-btn {
  padding: 1em 2em 1em 2em;
}


#login-modal {
  background-color: none;
  border: 2px solid #00ff00;
  padding: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 20em;
  height: 5em;
  position: absolute;
  margin-left: -12em;
  top: -23em;
}

#cancel-sign-in-btn{
  position: absolute;
  top: 0;
  right: 0;
}

.correct {
  color: white;
}

.underline {
  text-decoration: underline white 4px;
  text-underline-offset: 6px;
}